@media screen and (max-width: 800px) 
{
    .company-name , .logo
    {
        font-size: 1rem;
        margin: 0.5rem;
    }

    .container
    {
        padding-top: 2.5rem;
        min-height: 96vh;
    }

    .msg-div
    {
        width: 75%;
    }

    .auth-container
    {
        display: flex;
        align-items: center;
        padding-top: 0;
        overflow: hidden;
        min-height: 99vh;
    }

    .auth-container .company-name
    {
        margin-top: 3rem;
        font-size: 2rem;
    }

    .images
    {
        display: none;
    }

    .screenshot
    {
        display: none;
    }

    .contant
    {
        height: 35rem;
    }

    .form ,.switch-span
    {
        width: 85%;
        margin: 2.1rem auto;
    }

    .form
    {
        height: 30rem;
    }

    .profile-image
    {
        width: 5rem;
    }

    .small-profile-image
    {
        width: 2rem;
    }

    .add-post
    {
        font-size: 1.2rem;
        width: 5%;
        padding: 0.5rem;
        top: 86%;
        left: 44%;
    }
    /* data pages */

    .data-manage 
    {
        width: 90%;
        margin: auto;
        margin-top: 1rem;    
        min-height: 30rem;
    }

    .data-form
    {
        margin: 2rem 0;
        width: 100%;
    }

    .data-manage .form-title
    {
        font-size: 1.2rem;
    }

    .data-manage .data-manage-div
    {
        width: 100%;
    }

    .data-manage .data-manage-div .input-error
    {
        position: absolute;
        top: 100%;
    }

    .data-manage .add-file-div
    {
        display: block;
        margin: auto;
    }

    .data-manage .data-manage-div .add-file
    {
        display: none;
    }

    .data-manage .text-input
    {
        width: 80%;
    }

    .data-manage .file-upload
    {
        width: 10rem;
        margin-left: 0;
    }

    .data-manage .btn
    {
        margin: 1rem;
    }

    .side-nav
    {
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .side-nav ul
    {
        display: contents;
    }

    .side-nav ul li
    {
        display: inline-block;
    }

    .side-nav ul li a
    {
        color: black;
        font-weight: normal;
        position: relative;
    }

    .side-nav ul li a:hover , .side-nav ul li .active
    {
        font-weight: 600;
    }

    .side-nav ul li .active::before
    {
        display: none;
    }


    /* signup blade */

    .signup-form
    {
        height: 32rem;
    }

    .terms
    {
        font-size: 8px;
    }

    .signup-span
    {
        margin-top: 0.5rem;
    }


    /* app blade */


    .top-nav
    {
        grid-template-columns: 20% 80%;
        width: 100%;
    }

    .logo
    {
        grid-column-start: 1;
    }

    .search-input 
    {
        width: 14rem;
        border-radius: 0.2rem;
        height: 1.5rem;
        margin: 0.25rem auto;
    }

    .top-nav ul
    {
        width: 100%;
        text-align: center;
        position: fixed;
        display: block;
        margin: auto;
        padding: 0.4rem 0;
        bottom: 0;
        background-color: #ffffff;
    }

    .top-nav ul li
    {
        display: inline-block;
        margin: 0 1rem;
    }

    /* user index */

    .user-info
    {
        grid-template-columns: 25% 75%;
    }

    .btn-Follow
    {
        width: 4rem;
    }

    .edit-link
    {
        text-decoration: none;
    }

    .profilepicture
    {
        grid-column-start: 1;
    }

    .profilepicture img
    {
        width: 5rem;
        height: 5rem;
        margin: 22% auto;
    }

    .data
    {
        padding-left: 0;
    }

    .data .username
    {
        font-size: 1.2rem;
        width: 12rem;
    }

    .data .settings
    {
        margin-left: 2.5rem;
    }

    .small-images-posts
    {
        width: 90%;
        display: block;
        margin: 0.5rem auto;
    }

    /* edit profile/user */
    .edit-profile , .edit-user
    {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        border-left: none;
        min-height: 23rem;
    }

    .user-delete
    {
        display: block;
        position: static;
        top: 0;
    }

    .user-delete .btn
    {
        margin: 0;
        padding: 0;
        background-color: #f82424;
    }

    /* post */

    .post
    {
        display: block;
        width: 90%;
        margin: 1rem auto;
        min-height: 44rem;
    }

    .post .post-data
    {
        display: grid;
        grid-template-rows: 20% 45% 15% 20%;
        height: 20rem;
    }

    .post .post-title
    {
        width: 100%;
        border: 1px solid var(--border-color);
        padding: 1rem 0;
        grid-template-columns: 15% 60% 25%;
    }

    .post .post-title .small-profile-image
    {
        justify-self: center;
    }

    .post .post-info
    {
        padding-left: 0;
        border: 1px solid var(--border-color);
    }

    .post .post-info .description
    {
        margin-top: 1rem;
    }

    .post .post-actions .time-created 
    {
        width: 6rem;
    }

    .post .post-create-comment
    {
        width: 100%;
        padding-left: 0;
        border: 1px solid var(--border-color);
        border-top: none;
    }

    .post .post-create-comment .text-input
    {
        width: 13rem;
    }

    /* post component */

    .post-component
    {
        display: block;
        width: 90%;
    }

    .post-component .post-data
    {
        grid-template-rows: 50% 15% 25%;
        height: 19rem;
    }

    .post-component .post-data .post-info .comment
    {
        margin-left: 0.5rem;
        /* width: 95%; */
    }

    .post-component .post-data .post-actions
    {
        padding: 0;
        border-top: none;
        border-left: 1px solid var(--border-color);
        display: grid;
        grid-template-columns: 15% 60% 25%;
    }

    .post-component .post-actions .like-toggle 
    {
        justify-self: center;
        align-self: center;
    }

    .post-component .post-actions .time-created 
    {
        justify-self: center;
        align-self: center;
        text-align: center;
        width: 6rem;
    }

    .post-component .post-create-comment
    {
        padding: 0;
        border-left: 1px solid var(--border-color); 
    }

    /* comment */

    .comment
    {
        grid-template-columns: 15% 70% 15%;
    }

    .comment .profile-image
    {
        justify-self: center;
    }

    /* notification */

    .notification
    {
        width: 80%;
    }
}